.table {
    height: auto;
}

.tooltip {
    width: 250px;
    height: auto;
}

.column-default {
    width: 90px;
}

.column-narrow {
    width: 70px;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.tooltip-text {
    width: 250px;
    height: 30px;
    border-width: 2px;
    text-align: center;
    display: table-cell;
}

.panel-text {
    font-size: small;
}

.image {
    border: 0;
}

.square-image {
    width: 14px;
    height: 14px;
    border: 0;
}

.menuItem {
    text-align: left;
}